{
	"bot_token": "",
	"spotify_client_id": "",
	"spotify_client_secret": "",
	"testing_server_id": "",
	"owner_id": "",
	"mongouri: "",
	"lavalink": {
		"server": "",
		"port": 0,
		"password": "",
		"secure": true
	}
}
